.disclaimer{
    display:none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --background-color:#F8F3ED;
    --button:#DAAA63;
    --text-color:#2C1810;
}

body{
    background-color:var(--background-color);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: 10px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 999;
    transition: .3s ease;
}

.sticky{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

header h1{
    color: var(--text-color);
}

header svg{
    font-size: 2rem;
    color: var(--text-color);
    display: none;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    margin-left: 20px;
    font-weight: 500;
}

section{
    min-height: 100vh;
    width: 100%;
    max-width: 900px;
    padding-top: 65px;
    
}

#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.home-text{
    width: 100%;
    max-width: 400px;
    color: var(--text-color);
    text-align: justify;
}

.home-text h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.home-text p{
    margin-bottom: 30px;
    font-size: .9rem;
}

.home-text a{
    text-decoration: none;
    border: 3px solid var(--text-color);
    padding: 10px 15px;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s ease;
}

.home-text a:hover{
    background-color: var(--button);
}


.home-wrapper{
    width: 100%;
    max-width: 400px;
    overflow: hidden;
}

.home-content{
    width: 100%;
    max-width: 400px;
}

.books{
    display: flex;

}



.books img{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
}

.up{
    position: relative;
    top: 35px;
}

.down{
    position: relative;
    top: -15px;
}

.main-content{
    margin-top: 30px;
}

.search{
    position: relative;
    margin-bottom: 10px;
}

.search svg{
    position: absolute;
    font-size: 1.5rem;
    top: 11px;
    left: 10px;
}

#text{
    width: 100%;
    padding: 15px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

#text::placeholder{
    font-style: italic;
}

select{
    position: absolute;
    right: 100px;
    border: none;
    font-size: 1rem;
    color: #727272;
    top: 11px;
}


#search-btn{
    position: absolute;
    right: 0;
    padding:15px;
    background-color: var(--button);
    color: var(--text-color);
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
}

.recent h1{
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .5rem;
}

.card{
    padding: 5px 5px 10px;
    background-color:#fff ;
    width: 100%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)

}

.image{
    width: 100%;
    max-width: 150px;
    height: 180px;
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.image img{
    position: absolute;
    max-width: 150px;
    min-width: 120px;
}

.card p, .card span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card p{
    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.card span{
    font-size: .8rem;
    color: #727272;
    font-style: italic;
}


@media only screen and (max-width: 902px){
    .wrapper{
        grid-template-columns: repeat(5,1fr);
    }
}
@media only screen and (max-width: 750px){
    header{
        justify-content: space-between;
    }

    header svg{
        display: block;
    }

    nav{
        background-color:#fff ;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        position: fixed;
        transition: .4s;
    }

    nav.opened{
        left: 50%;
    }

    nav svg{
        margin: 10px 10px;
    }

    nav ul{
        flex-direction: column;
    }

    nav li{
        margin: 10px;
    }
    
    
    #home{
        flex-direction: column;
    }

    .home-text h1, .recent h1{
        font-size: 2rem;
    }


    
}

@media only screen and (max-width: 710px){
    .wrapper{
        grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (max-width: 566px){
    .wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 390px){
    .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}